.completed {
    text-decoration: line-through;
    opacity: 0.6;   
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
 
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
}


.icon {
    cursor: pointer;
}

.counters {
    display: flex;
    gap: 10px;
}